LINUX-ENV
ENV
DEV
EVENT
popup
syntax: glob
*.pyc
._*
__pycache__/
.#*
#*#
.DS_Store
media
local_settings.py
*local.py
*.mo
*.codekit
*.map
.sass-cache/
.coverage
wag-labels
useful
renders
*~
.*.sw*
.Python
.vagrant/
renders
.pip-download-cache
*-auto-bak-*.pgdump
.installed
# built CSS is not kept in source control
config.codekit
*.map.css
*.tar
*.Rhistory
*.tsv
keys
*.sql
dump.rdb
build
teste*

# Eclipse metadata
.project
.pydevproject
.settings
dbbaks

selenium-server-standalone*jar
ingest

# PyCharm metadata
.idea

# VS Code metadata
.vscode
.noseids

celerybeat-schedule
celerybeat.pid
*.pgdump
db.sqlite3

# Files
*.xlsx
*.xls


# Incopro Specific
similarweb_report.csv
*.swp
*.swn
*.swo
venv
*.log*
static/mapping/tiles
*.egg*
staticfiles/
.project
htmlcov/
node_modules/
nosetests.xml
scraping_framework
python-alexa
id_rsa.pub
deploy/Makefile
spectrum/Makefile
cache_pip/
cache_yum/
cache_docker/
cache_maxmind/
cache_ip2location/
*.karma.conf.js.swo
*.karma.conf.js.swp
